@using AirFortune.Models
@using AirFortune.Services
@inherits LayoutComponentBase
@inject INotifyService _notifyService
@inject ITableService _tableService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Dropdown TItem="AirFortuneTable" OnSelected="OnTableSelect">
                <InitialTip>Select table...</InitialTip>
                <ChildContent>
                    @if (_tables != null)
                    {
                        foreach (var table in _tables)
                        {
                            <DropdownListItem Item="@table">@table.Name</DropdownListItem>
                        }
                    }
                </ChildContent>
            </Dropdown>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private IEnumerable<AirFortuneTable>? _tables;

    protected override async Task OnInitializedAsync()
    {
        _tables = await _tableService.GetTables();
    }

    protected void OnTableSelect(AirFortuneTable table)
    {
        _notifyService.ChangeTable(table);
    }
}
